<div
  data-label="Row"
  data-key="row"
  data-atomgroup="row"
  id="r-1725052299371"
  class="gf_row gf_equal-height gf_row-gap-11"
  data-icon="gpicon-row"
  data-id="1725052299371"
  data-layout-lg="3+4+3+2"
  data-extraclass=""
  data-layout-md="3+3+3+3"
  data-layout-sm="6+6+6+6"
  data-layout-xs="12+12+12+12"
  style="display:flex;flex-wrap:wrap;visibility:visible"
  data-row-gap="11px"
>
  <div
    class="gf_column gf_col-md-3 gf_col-sm-6 gf_col-lg-3 gf_col-xs-12"
    id="c-1721419341725"
    data-id="1721419341725"
    style="display:block;flex-direction:unset;justify-content:center;min-height:auto"
  >
    <div
      data-label="Row"
      data-key="row"
      data-atomgroup="row"
      id="r-1725052299374"
      class="gf_row gf_equal-height gf_row-gap-3"
      data-icon="gpicon-row"
      data-id="1725052299374"
      data-layout-lg="4+8"
      data-extraclass=""
      data-layout-md="4+8"
      data-layout-sm="4+8"
      data-layout-xs="3+9"
      data-row-gap="3px"
      style="display:flex;flex-wrap:wrap;visibility:visible;min-height:auto"
    >
      <div
        class="gf_column gf_col-lg-4 gf_col-md-4 gf_col-sm-4 gf_col-xs-3"
        id="c-1721419505421"
        data-id="1721419505421"
        style="display:block;flex-direction:unset;justify-content:center;min-height:auto"
      >
        <div
          data-label="Image"
          data-key="image"
          data-atomgroup="element"
          id="e-1725052299401"
          class="element-wrap"
          data-icon="gpicon-image"
          data-ver="1.0"
          data-id="1725052299401"
          data-resolution="3000x3000"
        >
          <div
            class="elm gf-elm-center gf_elm-left-xs gf-elm-center-lg gf-elm-center-md gf-elm-center-sm gf-elm-center-xs"
            data-exc=""
          >
            <img
              src="https://ucarecdn.com/873f7834-9a51-450b-9ce8-0e0086fc98cf/-/format/auto/-/preview/3000x3000/-/quality/lighter/Screenshot%202024-07-20%20010437.png"
              alt=""
              class="gf_image"
              data-gemlang="en"
              width="91"
              height="88"
              data-width="100%"
              data-height="auto"
              title=""
              natural-width="91"
              natural-height="88"
            >
          </div>
        </div>
      </div>
      <div
        class="gf_column gf_col-lg-8 gf_col-md-8 gf_col-sm-8 gf_col-xs-9"
        id="c-1721419514371"
        data-id="1721419514371"
        style="display:block;flex-direction:unset;justify-content:center;min-height:auto"
      >
        <div
          data-label="Text Block"
          data-key="text-block"
          data-atomgroup="element"
          id="e-1725052299431"
          class="element-wrap"
          data-icon="gpicon-textblock"
          data-ver="1"
          data-id="1725052299431"
        >
          <div
            class="elm text-edit gf-elm-left gf_gs-text-paragraph-1 gf-elm-left-lg gf-elm-left-md gf-elm-left-sm gf-elm-left-xs"
            data-gemlang="en"
            data-exc=""
          >
            <p>
              Written By:<br>
              Katie Stone - Naturopath
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="gf_column gf_col-md-3 gf_col-sm-6 gf_col-lg-4 gf_col-xs-12"
    id="c-1721419344581"
    data-id="1721419344581"
    style="display:block;flex-direction:unset;justify-content:center;min-height:auto"
  >
    <div
      data-label="Row"
      data-key="row"
      data-atomgroup="row"
      id="r-1725052299334"
      class="gf_row gf_equal-height gf_row-gap-3"
      data-icon="gpicon-row"
      data-id="1725052299334"
      data-layout-lg="4+8"
      data-extraclass=""
      data-layout-md="4+8"
      data-layout-sm="4+8"
      data-layout-xs="3+9"
      data-row-gap="3px"
      style="display:flex;flex-wrap:wrap;visibility:visible;min-height:auto"
    >
      <div
        class="gf_column gf_col-lg-4 gf_col-md-4 gf_col-sm-4 gf_col-xs-3"
        id="c-1721419505421"
        data-id="1721419505421"
        style="display:block;flex-direction:unset;justify-content:unset;min-height:auto"
      >
        <div
          data-label="Image"
          data-key="image"
          data-atomgroup="element"
          id="e-1725052299339"
          class="element-wrap"
          data-icon="gpicon-image"
          data-ver="1.0"
          data-id="1725052299339"
          data-resolution="3000x3000"
        >
          <div
            class="elm gf-elm-center gf_elm-left-xs gf-elm-center-lg gf-elm-center-md gf-elm-center-sm gf-elm-center-xs"
            data-exc=""
          >
            <img
              src="https://ucarecdn.com/77d609fd-ea7a-4a8c-8822-34fd539f93b1/-/format/auto/-/preview/3000x3000/-/quality/lighter/Screenshot%202024-07-20%20011114.png"
              alt=""
              class="gf_image"
              data-gemlang="en"
              width="114"
              height="110"
              data-width="100%"
              data-height="auto"
              title=""
              natural-width="114"
              natural-height="110"
            >
          </div>
        </div>
      </div>
      <div
        class="gf_column gf_col-lg-8 gf_col-md-8 gf_col-sm-8 gf_col-xs-9"
        id="c-1721419514371"
        data-id="1721419514371"
        style="display:block;flex-direction:unset;justify-content:unset;min-height:auto"
      >
        <div
          data-label="Text Block"
          data-key="text-block"
          data-atomgroup="element"
          id="e-1725052299412"
          class="element-wrap"
          data-icon="gpicon-textblock"
          data-ver="1"
          data-id="1725052299412"
        >
          <div
            class="elm text-edit gf-elm-left gf_gs-text-paragraph-1 gf-elm-left-lg gf-elm-left-md gf-elm-left-sm gf-elm-left-xs"
            data-gemlang="en"
            data-exc=""
          >
            <p>
              Medical Reviewer:<br>
              Dr. Conor Sheehy - PharmD, BCPS
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="gf_column gf_col-md-3 gf_col-sm-6 gf_col-lg-3 gf_col-xs-12"
    id="c-1721419344648"
    data-id="1721419344648"
    style="display:block;flex-direction:unset;justify-content:center;min-height:auto"
  >
    <div
      data-label="Row"
      data-key="row"
      data-atomgroup="row"
      id="r-1725052299377"
      class="gf_row gf_equal-height gf_row-gap-3"
      data-icon="gpicon-row"
      data-id="1725052299377"
      data-layout-lg="4+8"
      data-extraclass=""
      data-layout-md="4+8"
      data-layout-sm="4+8"
      data-layout-xs="3+9"
      data-row-gap="3px"
      style="display:flex;flex-wrap:wrap;visibility:visible;min-height:auto"
    >
      <div
        class="gf_column gf_col-lg-4 gf_col-md-4 gf_col-xs- gf_col-sm-4 gf_col-xs-3"
        id="c-1721419505421"
        data-id="1721419505421"
        style="display:block;flex-direction:unset;justify-content:unset;min-height:auto"
      >
        <div
          data-label="Image"
          data-key="image"
          data-atomgroup="element"
          id="e-1725052299324"
          class="element-wrap"
          data-icon="gpicon-image"
          data-ver="1.0"
          data-id="1725052299324"
          data-resolution="3000x3000"
        >
          <div
            class="elm gf-elm-center gf_elm-left-xs gf-elm-center-md gf-elm-center-sm gf-elm-center-lg gf-elm-center-xs"
            data-exc=""
          >
            <img
              src="https://ucarecdn.com/bd2311f7-176f-4e45-8d5e-88859e16b19a/-/format/auto/-/preview/3000x3000/-/quality/lighter/RN%20Kari%20Asadorian.jpg"
              alt=""
              class="gf_image"
              data-gemlang="en"
              width="250"
              height="300"
              data-width="86%"
              data-height="75px"
              title=""
              natural-width="250"
              natural-height="300"
            >
          </div>
        </div>
      </div>
      <div
        class="gf_column gf_col-lg-8 gf_col-md-8 gf_col-sm-8 gf_col-xs-9"
        id="c-1721419514371"
        data-id="1721419514371"
        style="display:block;flex-direction:unset;justify-content:unset;min-height:auto"
      >
        <div
          data-label="Text Block"
          data-key="text-block"
          data-atomgroup="element"
          id="e-1725052299363"
          class="element-wrap"
          data-icon="gpicon-textblock"
          data-ver="1"
          data-id="1725052299363"
        >
          <div
            class="elm text-edit gf-elm-left gf_gs-text-paragraph-1 gf-elm-left-lg gf-elm-left-md gf-elm-left-sm gf-elm-left-xs"
            data-gemlang="en"
            data-exc=""
          >
            <p>
              Edited By:<br>
              Kari Asadorian - RN
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="gf_column gf_col-md-3 gf_col-sm-6 gf_col-lg-2 gf_col-xs-12"
    id="c-1721419344738"
    data-id="1721419344738"
    style="display:block;flex-direction:unset;justify-content:center;min-height:auto"
  >
    <div
      data-label="Row"
      data-key="row"
      data-atomgroup="row"
      id="r-1725052299458"
      class="gf_row gf_equal-height gf_row-gap-3"
      data-icon="gpicon-row"
      data-id="1725052299458"
      data-layout-lg="12"
      data-extraclass=""
      data-layout-md="12"
      data-layout-sm="12"
      data-layout-xs="12"
      data-row-gap="3px"
      style="display:flex;flex-wrap:wrap;visibility:visible;min-height:auto"
    >
      <div
        class="gf_column gf_col-lg-12 gf_col-md-12 gf_col-sm-12 gf_col-xs-12"
        id="c-1721419505421"
        data-id="1721419505421"
        style="display:block;flex-direction:unset;justify-content:center;min-height:auto"
      >
        <div
          data-label="Text Block"
          data-key="text-block"
          data-atomgroup="element"
          id="e-1725052299359"
          class="element-wrap"
          data-icon="gpicon-textblock"
          data-ver="1"
          data-id="1725052299359"
        >
          <div
            class="elm text-edit gf-elm-left gf_gs-text-paragraph-1 gf-elm-left-lg gf-elm-left-md gf-elm-left-sm gf-elm-center-xs"
            data-gemlang="en"
            data-exc=""
          >
            <p>Updated On:</p>
            <p>Sep 1, 2024</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
