<div
  data-label="Row"
  class="gf_row gf_row-fluid gf_row-no-padding gf_row-gap-0 gf_equal-height"
  id="r-1725052299391"
  data-icon="gpicon-row"
  data-id="1725052299391"
  data-row-gap="0px"
  data-extraclass=""
  style="visibility:visible;transform:none;z-index:50"
>
  <div
    class="gf_column gf_col-lg-12"
    id="c-1596583138098"
    data-id="1596583138098"
    style="min-height:349px;transform:none;z-index:50"
  >
    <div
      data-label="Hero Banner"
      id="m-1725052299406"
      class="module-wrap article-top-banner"
      data-icon="gpicon-herobanner"
      data-ver="1"
      data-id="1725052299406"
    >
      <div
        class="module "
        data-image="{{ article.metafields.custom.top_banner_image | img_url:'master' }}"
        data-height=""
        data-effect="none"
        data-transition="0.5"
        data-fixedmode="0"
      >
        <span
          data-index="1"
          class="item-content align-middle"
        >
          <div
            data-label="Row"
            id="r-1725052299341"
            class="gf_row"
            data-icon="gpicon-row"
            data-id="1725052299341"
            data-extraclass=""
            style="display:block"
          >
            <div
              class="gf_col-md-12 gf_column"
              id="c-1543282951693"
              data-id="1543282951693"
              style="min-height:auto"
            >
              <div
                data-label="Heading"
                data-key="heading"
                data-atomgroup="element"
                id="e-1725052299433"
                class="element-wrap"
                data-icon="gpicon-heading"
                data-ver="2"
                data-id="1725052299433"
              >
                <div
                  class="elm text-edit gf-elm-center gf-elm-left-md gf-elm-left-sm gf-elm-center-xs gf-elm-center-lg"
                  data-gemlang="en"
                  data-exc=""
                >
                  <h1 class="gf_gs-text-heading-2">
                    <span
                      style="color:rgb(255, 255, 255);font-weight:700"
                    >
                      {{ custom_title | default: article.title }}
                    </span>
                  </h1>
                </div>
              </div>
              <div
                data-label="Text Block"
                id="e-1725052299382"
                class="element-wrap"
                data-icon="gpicon-textblock"
                data-ver="1"
                data-id="1725052299382"
              >
                <div
                  class="elm text-edit gf-elm-left gf-elm-center-md gf-elm-center-sm gf-elm-center-lg gf_gs-text-paragraph-1 gf-elm-center-xs"
                  data-gemlang="en"
                  data-exc=""
                >
                  <p><br></p>
                </div>
              </div>
            </div>
          </div>
        </span>
      </div>
      <div class="gf_hero-bg-wrap">
        <div class="gf_hero-bg"></div>
      </div>
      <div class="gf_hero-overlay" style="background:rgba(0, 0, 0, 1);opacity:0.4"></div>
    </div>
  </div>
</div>
