<div class="landing_page">
	<!-- Banner -->
	<section class="banner-sec" style="background-image: linear-gradient(180deg,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%), url('https://cdn.shopify.com/s/files/1/0264/6369/9018/files/Rectangle-464-1.jpg?v=1709750596');">
		<div class="page-width">
			<div class="banner-content" data-aos="zoom-in">
				<h1>Practitioner Program</h1>
				<p>Easily make complex clinical connections and reduce the trial and error period with our nutrigenomic and epigenetic test kit and health reports. Book a Zoom session with us, and we’ll have you fully onboarded and ready to order test kits in 15 minutes or less.</p>
				<div class="btn-wrap">
					<a href="#">PRACTITIONER REGISTRATION</a>
				</div>
			</div>
		</div>
	</section>

	<section class="img-text">
		<div class="page-width">
			<div class="imgtxt-wrap" data-aos="zoom-in">
				<div class="imgtxt-inner">
					<h2 class="bodr-line">Empower your practice</h2>
					<span>Fast. Clinical. Personalized. Evidence-Backed.</span>
					<p>We work with a wide variety of healthcare practitioners around the globe (MD’s, NMD’s, DO’s, PA, NP’s and Clinical Nutritionists) to provide a groundbreaking analysis of your patient’s genetic blueprint. We make your job easier and save you time with our easy to interpret analysis, action-oriented nutrigenomic recommendations, free training resources, and evidence-based reporting (over 900 peer-reviewed sources). </p>
				</div>
				<div class="imgtxt-inner">
					<img width="" height="" src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/NG_iphone_long_shadow_7.png?v=1709751330" alt="image">
				</div>				
			</div>
		</div>
	</section>

	<section class="how-it-work" data-aos="fade-up">
		<div class="page-width">
			<header class="text-center">
				<h2 class="bodr-line">HOW IT WORKS</h2>
			</header>
			<div class="hw-wrap text-center">
				<div class="hw-inner">
					<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/icon.png?v=1710438463" alt="image">
					<h3>JOIN OUR PRACTITIONER RESELLER PROGRAM</h3>
					<p>Apply here, and once approved you’ll get access to wholesale pricing at various volume tiers when purchasing test kits for your clinic. You’ll also have the option to stock our proprietary swabs in your clinic and pay on net terms (for those who process 15 or more patient samples monthly). If you prefer, your patients can purchase directly from us and easily link their account with yours to share fulfillment updates and all patient data seamlessly.</p>
				</div>
				<div class="hw-inner">
					<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/icon.png?v=1710438463" alt="image">
					<h3>ACCOUNT CONFIGURATION</h3>
					<p>Book a Zoom onboarding session, and we’ll set up your account, walk you through the report, and have you ready to order test kits in 15 minutes or less. If you collect samples in your clinic, you will add your patients to your private health dashboard. If you prefer to have your patients order directly from us, they will create their own private health dashboard and easily share their results via your My Patients portal.</p>
				</div>
				<div class="hw-inner">
					<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/icon.png?v=1710438463" alt="image">
					<h3>RECEIVE RESULTS</h3>
					<p>You’ll receive an email alert when your patient’s sample has been received by the lab, and approximately <strong>5 weeks</strong> from the date the lab receives the patient’s sample, you will be notified that the patient’s results have been uploaded to your account to browse online or export as a PDF. </p>
				</div>
			</div>
			<div class="btn-wrap text-center">
				<a href="#" class="btn btn-blue">PRACTITIONER REGISTRATION</a>
			</div>
		</div>
	</section>

	<section class="img-text pad-80">
		<div class="page-width">
			<div class="imgtxt-wrap align-top" data-aos="zoom-in">				
				<div class="imgtxt-inner">
					<h2 class="bodr-line">Interpretation is easy</h2>
					<p>Our DNA health reports are powerful, personalized, and easy to interpret. We analyze thousands of complex gene combinations, taking weighted and cumulative value into account to give you the most accurate and personalized action plan possible. Click below to view an overview of our health report content; you won’t find this level of analysis anywhere else.</p>
					<a href="#" class="btn btn-blue">VIEW SAMPLE REPORTS</a>
				</div>	
				<div class="imgtxt-inner">
					<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/image-35-1-1-1.png?v=1710438464" alt="image">
				</div>					
			</div>			
		</div>
	</section>

	<section class="benefit-sec">
		<div class="page-width">
			<header class="text-center">
				<h2>BENEFITS OF A PRACTITIONER ACCOUNT</h2>
				<p>As a practitioner, you get exclusive access to our free nutrigenomic and epigenetic training material to maximize the benefits of the Nutrition Genome Report in your practice. Plus the opportunity to be featured on our ‘Find a Practitioner‘ page. Learn more <a href="#">HERE.</a></p>
				<p>Our Report covers 100 clinically relevant genes across eight sections, with over 900 research studies. See below for an overview on the eight sections covered.</p>
			</header>
			<div class="be-wrap">
				<div class="be-inner">
					<div class="flex-box">
						<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/noun_1312234_37eaf7.png?v=1710438464" alt="icon" width="25px" height="25px">
						<p>Exclusive volume discounts as a practitioner reseller as well as the option to pay on net terms when processing 15 or more samples monthly.</p>
					</div>
					<div class="flex-box">
						<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/noun_1312234_37eaf7.png?v=1710438464" alt="icon" width="25px" height="25px">
						<p>A reduction in your admin expense through our streamlined “direct to consumer” model.</p>
					</div>
				</div>
				<div class="be-inner">
					<div class="flex-box">
						<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/noun_1312234_37eaf7.png?v=1710438464" alt="icon" width="25px" height="25px">
						<p>Free exclusive access to a 12 module clinical nutrigenomic training.</p>
					</div>
					<div class="flex-box">
						<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/noun_1312234_37eaf7.png?v=1710438464" alt="icon" width="25px" height="25px">
						<p>The most complete, action-oriented nutrigenomic report on the market.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="col4-sec">
		<div class="page-width">
			<div class="col-wrap row1">
				<div class="col-inner">
					<div class="flex-box">
						<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/noun_37611_6ae9f4.png?v=1710438463" alt="icon" width="32px" height="32px">
						<div class="content-wrap text-center">
							<h3>DIGESTION</h3>
							<p>The Digestion section reviews increased needs for certain vitamins, minerals and compounds, protein, fat, carbohydrate and sugar metabolism to determine the best macronutrient composition, histamine levels and uric acid production.</p>
						</div>
					</div>
				</div>
				<div class="col-inner">
					<div class="flex-box">
						<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/noun_37611_6ae9f4.png?v=1710438463" alt="icon" width="32px" height="32px">
						<div class="content-wrap text-center">
							<h3>METHYLATION</h3>
							<p>The Methylation section determines healthy genetic expression, stress and energy levels, BH4 and SAMe production, fertility and pregnancy requirements, memory and toxin removal and immunity.</p>
						</div>
					</div>
				</div>
				<div class="col-inner">
					<div class="flex-box">
						<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/noun_37611_6ae9f4.png?v=1710438463" alt="icon" width="32px" height="32px">
						<div class="content-wrap text-center">
							<h3>HORMONES</h3>
							<p>The Hormone section reviews sex hormone binding globulin and thyroid SNPs linked to estrogen and testosterone levels, mood, bone health, immunity, muscle tone, cardiovascular health, and digestive function.</p>
						</div>
					</div>
				</div>
				<div class="col-inner">
					<div class="flex-box">
						<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/noun_37611_6ae9f4.png?v=1710438463" alt="icon" width="32px" height="32px">
						<div class="content-wrap text-center">
							<h3>NEUROTRANSMITTERS AND MENTAL HEALTH</h3>
							<p>The Neurotransmitters and Mental Health section reviews genes connected to serotonin, dopamine, adrenaline, glutamate and GABA levels. This section also reviews the ApoE and BDNF genes.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-wrap row2">
				<div class="col-inner">
					<div class="flex-box">
						<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/noun_37611_6ae9f4.png?v=1710438463" alt="icon" width="32px" height="32px">
						<div class="content-wrap text-center">
							<h3>DIGESTION</h3>
							<p>The Digestion section reviews increased needs for certain vitamins, minerals and compounds, protein, fat, carbohydrate and sugar metabolism to determine the best macronutrient composition, histamine levels and uric acid production.</p>
						</div>
					</div>
				</div>
				<div class="col-inner">
					<div class="flex-box">
						<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/noun_37611_6ae9f4.png?v=1710438463" alt="icon" width="32px" height="32px">
						<div class="content-wrap text-center">
							<h3>METHYLATION</h3>
							<p>The Methylation section determines healthy genetic expression, stress and energy levels, BH4 and SAMe production, fertility and pregnancy requirements, memory and toxin removal and immunity.</p>
						</div>
					</div>
				</div>
				<div class="col-inner">
					<div class="flex-box">
						<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/noun_37611_6ae9f4.png?v=1710438463" alt="icon" width="32px" height="32px">
						<div class="content-wrap text-center">
							<h3>HORMONES</h3>
							<p>The Hormone section reviews sex hormone binding globulin and thyroid SNPs linked to estrogen and testosterone levels, mood, bone health, immunity, muscle tone, cardiovascular health, and digestive function.</p>
						</div>
					</div>
				</div>
				<div class="col-inner">
					<div class="flex-box">
						<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/noun_37611_6ae9f4.png?v=1710438463" alt="icon" width="32px" height="32px">
						<div class="content-wrap text-center">
							<h3>NEUROTRANSMITTERS AND MENTAL HEALTH</h3>
							<p>The Neurotransmitters and Mental Health section reviews genes connected to serotonin, dopamine, adrenaline, glutamate and GABA levels. This section also reviews the ApoE and BDNF genes.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-wrap text-center mr-50">
				<a href="#" class="btn btn-blue">PRACTITIONER REGISTRATION</a>
			</div>
		</div>
	</section>

	<section class="how-it-work program-sec" data-aos="fade-up">
		<div class="page-width">
			<header class="text-center">
				<h2>PRACTITIONER REFERRAL PROGRAM</h2>
				<p class="text-left">We’re excited to offer you the opportunity to be featured on our website as a Nutrition Genome recommended practitioner!</p>
				<p class="text-left">Our recommended practitioners are featured on our ‘Find a practitioner’ page on our website. This referral program has proved highly beneficial to our customers in finding further guidance to optimize their results and for our practitioners listed to receive new clients to their practice without any outreach needed on their part. </p>
				<p class="text-left">We receive numerous emails daily from our customers looking for a local practitioner to interpret their Nutrition Genome results, and we are highly selective with our referral process to ensure that our customers get the best from their report. For a one time fee of $249 (and a successful pass completion of our 14 training modules) we will add you to our practitioner database for the potential of immediate customer referral.</p>
				<p class="text-left">The Nutrition Genome Report is unique and requires a deeper understanding of nutrigenomics and epigenomics to connect the dots from the results. Our training increases your genetic knowledge, shows you how to combine genes, and how to apply the results to a patient. This increases the probability of a successful consultation for both the practitioner and the patient.</p>
				<p class="text-left">In order to be a recommended practitioner, we require that you pass our 14 module exam at an 85% pass rate or higher. This will allow you to feel confident with the clinical application of our report, and it will boost your knowledge of this amazing growing field of nutrigenomics and epigenomics to enhance your practice.</p>
				<p class="text-left">We couldn't be more excited to welcome you into the Nutrition Genome network of practitioners, and we really look forward to a united effort in making this world a healthier, happier place!</p>
				<p class="text-left"><strong>*This exam does not provide a certification or licensing. To qualify for the exam, we require the following credentials to be listed on Nutrition Genome: MD, ND, DO, DC, L.Ac., RDN, RN, or IFM.</strong> Please read all terms & conditions <strong>HERE.</strong></p>
			</header>
			<div class="hw-wrap text-center">
				<div class="hw-inner">
					<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/noun_1440673_51e8f9.png?v=1710438463" alt="image">
					<h3>PURCHASE THE ADVANCED TRAINING PACKAGE</h3>
					<p>We require the following credentials to qualify to be listed as one of our recommended practitioners: <strong>MD, ND, DO, DC, L.Ac., RDN, RN, or IFM.</strong> Please make sure you have one of these credentials listed before purchasing the exam. </p>
				</div>
				<div class="hw-inner">
					<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/noun_8149_51e8f9.png?v=1710438464" alt="image">
					<h3>COMPLETE TRAINING AND EXAM</h3>
					<p>The Nutrition Genome exam consists of 14 modules and 185 questions. Each exam module follows the same order of the Nutrition Genome nutrigenomics training program and can be taken at your own pace. </p>
				</div>
				<div class="hw-inner">
					<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/noun_1439219_51e8f9.png?v=1710438464" alt="image">
					<h3>BECOME A RECOMMENDED PRACTITIONER</h3>
					<p>Congratulations, you've completed the exam! We require a score of 85% or higher to pass each module. Upon a pass completion of all the modules, you will be required to provide a high-resolution photo, and your contact information to be added to our Find a Practitioner page to gain exposure to referral traffic as one of our recommended practitioners!</p>
				</div>
			</div>
			<div class="btn-wrap text-center">
				<a href="#" class="btn btn-blue">PURCHASE EXAM</a>
			</div>
		</div>
	</section>

	<section class="how-it-work privacy-sec">
		<div class="bg-img" style="background-image: url('https://cdn.shopify.com/s/files/1/0264/6369/9018/files/runner-pausing.jpg?v=1710438464');">
			<div class="page-width">
				<header class="text-center" data-aos="zoom-in">
					<h2>Your Privacy is Our Priority</h2>
				</header>
				<div class="hw-wrap text-center" data-aos="zoom-in">
					<div class="hw-inner">
						<div class="box">
							<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/app-11-1.png?v=1710438463" alt="image">
							<h3>We Do Not Sell Your Data</h3>
							<p>You can delete your data at anytime. View Privacy Policy</p>
						</div>
					</div>
					<div class="hw-inner">
						<div class="box">
							<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/app-010-1.png?v=1710438464" alt="image">
							<h3>Sample Identified by Barcode Only</h3>
							<p>Your health report lives on a HIPAA server guarded under lock and key</p>
						</div>
					</div>
					<div class="hw-inner">
						<div class="box">
							<img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/app-09.png?v=1710438464" alt="image">
							<h3>CLIA / CAP Laboratory</h3>
							<p>Each sample undergoes three stages of quality assurance</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% schema %}
  {
    "name": "landing page",
    "settings": [

    ],
    "presets":[
      {
        "name": "landing page"
      }
    ]
  }
{% endschema %}