<style>
  
  .naturo-simple-banner--inner img{
    display: block;
    width: 100%;
  }
</style>
<section class="naturo-simple-banner--main naturo-simple-banner--{{ section.id }}">
  <div class="naturo-simple-banner--inner">
    
     <img src="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/email-marketing-newsletter-concept-contact-us-by-newsletter-email-protect-your-personal-information-from-spam-mail-concept-scheme-direct-sales-business-list-clients-mailing_1.png?v=1695676540">
   
  </div>
</section>
{% schema %}
{
  "name": "Naturo simple banner",
 
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  
  "presets": [
    {
      "name": "Naturo simple banner"
    }
  ]
}
{% endschema %}