

  <section class="reviews_wrapper">
    <div class="cont">
      <div class='tb_review_carousel' data-review-id='carousel_13306'></div>
    </div>

  </section>



{% schema %}
  {
    "name": "Home Reviews",
    "settings": [],
    "presets":[
      {
        "name": "Home Reviews"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}